*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}
section 
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#04AA6D;
  transition: 0.5s;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  position: relative;
  max-width: 80px;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li
{
  list-style-type: none;
}
header ul li a
{
  display: inline-block;
  color:#FFFFFF;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
header li a:hover
{
  color: rgb(0, 0, 0);
}
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textbox
{
  position: relative;
  max-width: 600px;
}
.content .textbox h2
{
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textbox h2 span
{
  font-size: 2em;
}
.content .textbox p
{
  color: #fff;
}
.content .textbox a
{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.content .imgbox
{
  width: 700px;
  display: flex;
  padding-right: 150px;
  margin-top: 50px;
  justify-content: flex-end;
}
.content .imgbox img
{
  max-width: 210px;
}
.products
{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.products li
{
  list-style: none;
  display: inline-block;
  margin:  0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.products li:hover
{
  transform: translateY(-15px);
}
.products li img
{
  max-width: 40px;
}
.icon
{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon li
{
  list-style: none;
}
.icon li a
{
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
}
.icon li img
{
  max-width: 40px;
}
